name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/build-and-push.yaml"
      - ".github/workflows/ci.yaml"
      - "**.go"
      - "go.mod"
      - "go.sum"
      - "Dockerfile"
      - "internal/e2e/docker-compose.yml"

permissions:
  packages: write
  id-token: write # Required for Codecov

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup mise
        uses: jdx/mise-action@v3
      - name: Cache envtest binaries
        uses: actions/cache@v5
        with:
          path: ./bin/
          key: binaries
      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Setup envtest
        run: setup-envtest use
      - name: Set up Docker Buildx for docker compose
        uses: docker/setup-buildx-action@v3
      - name: Run tests
        run: make test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true

  check-codegen:
    name: Check Codegen
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup mise
        uses: jdx/mise-action@v2
      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Generate manifests
        run: make manifests
      - name: Check nothing has changed
        run: |
          git diff --exit-code ./manifests

  lint-go:
    name: Lint Go
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --issues-exit-code=0

  build-and-push:
    uses: ./.github/workflows/build-and-push.yaml
